/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/dist
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vuepress/dist/
.vuepress/.cache/
.vuepress/.temp/

.vercel
